.label {
  width: 40mm;
  height: 40mm;
  border: 1px dotted #ccc;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.qr-wrapper {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label-text {
  margin-top: 2px;
  font-size: 10px;
  text-align: center;
}
